include /mixins/hello-world.pug
//- if critical
//- append head
  style
    include /css/_hero.scss
link(href="/assets/css/hero.css" rel='stylesheet')
section#hero
  +hello-world({
    message: 'Hello world!',
  })
