@import "variables";
/* Base */
:root {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2.2rem;
  font-family: "Helvetica";
  font-weight: 300;
  color: $base_color;
  line-height: 1.4;
}
